body {
  background: url(../images/fundo.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sidebar_container {
  background-color: #000000;
  position: relative;
  height: 100%;
  width: 30%;
}

.logo_sidebar {
  width: 211px;
  height: 211px;
  margin-left: 15%;
}

.sidebar_m1 {
  color: #f9f4e5;
  font-family: "Roboto", sans-serif;
  font: normal normal medium 52px/62px;
  margin-bottom: 8%;
  margin-top: 8%;
  font-size: 38px;
  margin-left: 15%;
  margin-right: 5%;
}

.sidebar_m2 {
  color: #f9f4e5;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  font-size: 18px;
  font-weight: 5px;
  margin-right: 40%;
}

.navalha {
  width: 40%;
  height: 30%;
  position: absolute;
  right: 0;
}

.middle_container {
  display: flex;
  align-items: center;
}

.middle_container p{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #F9F4E5;
}

.faq{
  position: absolute;
  top: 3%;
  right: 3%;
}
.faq p{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.faq p a {
  color: #D38600;
  text-decoration: none;
  font-weight: 700;
}