body{
  height: 100vh;
}

body {
  background: url(../images/fundo.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}

.sidebar_container {
  background-color: #000000;
  position: relative;
  height: 100%;
  width: 30%;
}

.logo_sidebar {
  width: 211px;
  height: 211px;
  margin-left: 15%;
}

.sidebar_m1 {
  color: #f9f4e5;
  font-family: "Roboto", sans-serif;
  font: normal normal medium 52px/62px;
  margin-bottom: 8%;
  margin-top: 8%;
  font-size: 38px;
  margin-left: 15%;
  margin-right: 5%;
}

.sidebar_m2 {
  color: #f9f4e5;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  font-size: 18px;
  font-weight: 5px;
  margin-right: 40%;
}

.navalha {
  width: 40%;
  height: 29%;
  position: absolute;
  right: 0;
}

.middle_container {
  margin-top: 25%;
  margin-left: 170px;
  margin-bottom: 10%;
  width: 35%;
  height: 330px;
}

.middle_container form legend {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #F9F4E5;
}

.middle_container form input{
  width: 95%;
  padding: 5px 0px;
  margin-top: 20px;
}

.middle_container form input::placeholder{
  color: #FFA200;
  letter-spacing: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  text-align: center;
}

.middle_container form button{
  color: #FFA200;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: #F9F4E5 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 10px;
  height:40px;
  width: 25%;
  margin: 20px auto;
}

.middle_container p{
  color: #FFFFFF;
  font-family: "Roboto", regular;
}

.middle_container p a{
  color:#FFA200;
  text-decoration: none;
  font: normal normal bold Roboto;
}

.faq{
  position: absolute;
  top: 3%;
  right: 3%;
}
.faq p{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.faq p a {
  color: #D38600;
  text-decoration: none;
  font-weight: 700;
}