:root {
  --orange: #ffa200;
  --white: #f9f4e5;
  -webkit-font-smoothing: antialiased;
}

body {
  background: url(../images/fundo_mobile.svg) no-repeat center/cover;
}

main {
  height: 100vh;
  width: 100vw;
}

.middle_container {
  width: 100vw;
  margin: 17rem auto 0;
  height: 330px;
  text-align: center;
}

.middle_container fieldset {
  margin: 0 auto;
}

legend {
  width: 100%;
}

.middle_container fieldset legend {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: var(--white);
  margin-bottom: 30px;
}

.middle_container .input_wrapper {
  width: 84%;
  margin: 32px auto 16px;
}

.middle_container .input_block {
  width: 100%;
  border-bottom: 4px solid #f9f4e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.middle_container .input_block:first-child {
  margin-bottom: 2.8rem;
}

.middle_container .input_block label {
  font-family: "Ubuntu", sans-serif;
  color: var(--orange);
  padding-right: 8px;
  font-size: 1rem;
}

.middle_container .input_block input {
  width: 100%;
  background: transparent;
  border: none;
  font-family: "Ubuntu", sans-serif;
  color: var(--orange);
  font-size: 1.1rem;
  text-align: right;
}

.middle_container .input_block input:focus {
  border: none;
  outline: none;
}

.middle_container .input_block input::placeholder {
  color: var(--orange);
}

.middle_container form button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orange);
  letter-spacing: 0px;
  background: #f9f4e5 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 30%;
  transition: all 0.5s;
}

.middle_container form button:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

.middle_container p {
  margin-top: 3rem;
  color: #ffffff;
  font-family: "Roboto", regular;
  font-size: 1.2rem;
}

.middle_container p a {
  color: var(--orange);
  text-decoration: none;
  font: normal normal bold Roboto;
  transition: all 0.2s;
}

.middle_container p a:hover{
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  body {
    background: url(../images/fundo_home_desktop.svg) no-repeat center/cover;
    overflow-x: hidden;
  }

  .middle_container {
    margin: 8rem auto 0;
    width: 40vw;
    text-align: start;
  }

  .middle_container fieldset legend {
    font-size: 2.2rem;
    margin-bottom: 50px;
  }

  .middle_container .input_wrapper {
    width: 100%;
  }
}